<!DOCTYPE HTML>
<html>
{{template "head" .}}
<body>
<script>
function deployApp() {
	window.location.href="/deploy";
}
</script>

<div class="form-style-10 applicationList">
	<h1>ThumbsUp<span>Application Approval Status</span></h1>
<form>
    <div class="inner-wrap">
	<table class="table">
		<thead>
			<tr>
			<th>Application Name</th>
			<th>Application Status</th>
			<th>Required Approvals</th>
			<th>Current Approvals</th>
			</tr>
		</thead>
		<tbody>
		{{range .Applications}}
			<tr>
			<td>{{.Name}}</td>
			<td>{{.Status}}
				{{if ne .Status "Approved"}}
					<button class="btn btn-success" onclick="deployApp();return false;">Deploy</button>	
				{{end}}
			</td>
			<td>{{.RequiredApprovals}}</td>
			<td>{{.CurrentApprovals}}</td>
			</tr>
		{{end}}
		</tbody>
	</table>
    </div>
</form>
</div>

</body>
</html>

