<!DOCTYPE HTML>
<html>
{{template "head" .}}
<body>
<script>
	var apps= new Array();
	var addresses= new Array();
	{{range .Applications}}
		apps['{{.Name}}']='{{.Specification}}';
		addresses['{{.Name}}']='{{.Address}}';
	{{end}}
	function showSpec() {
		selectBox=document.getElementById('applicationName');
		val=selectBox.options[selectBox.selectedIndex].value;
		if (typeof val == 'undefined' || val.length == 0) {
			document.getElementById('description').innerHTML="";
			document.getElementById('address').innerHTML="";
		} else {
			document.getElementById('description').innerHTML=apps[val];
			document.getElementById('address').value=addresses[val];
		}
	}
</script>
<div class="form-style-10">
	<h1>ThumbsUp<span>Register Approval</span></h1>
<form id="approveForm" name="approveForm" class="form" action="/approve" method="post">
    <div class="section"><span>1</span> Application Details</div>
    <div class="inner-wrap">
	<p><label>Application Name</label> 
		<select id="applicationName" name="applicationName" onChange="showSpec();">
			<option value=''></option>
			{{range .Applications}}
				<option value='{{.Name}}'>{{.Name}}</option>
			{{end}}
		</select>
	</p>
	<p><label>Environment Requested</label>
	<div id="environment">
		<span id="description"></span>
	</div>
	</p>
    </div>
    <div class="section"><span>2</span>Approver</div>
    <div class="inner-wrap">
       	<label>Approver Name</label>
    	<input type="text" name="approverName"></input>
	<label>Approver Type</label>
	<select name="approverType">
		<option value=''></option>
	        <option value="Clinical"/>Clinical</option>
	        <option value="Doctor"/>Doctor</option>
	        <option value="Developer"/>Developer</option>
	        <option value="Application"/>Application</option>
	        <option value="IT"/>IT</option>
	</select>
	<input id="address" name="address"  type="hidden"></input>

    </div>
    <div class="button-section">
    	<input type="submit" name="approve" value="Approve"/>
    </div>
</form>
</div>

</body>
</html>

