<!DOCTYPE HTML>
<html>
{{template "head" .}}
<body>
<div class="form-style-10 applicationList">
	<h1>ThumbsUp<span>Audit for {{.ApplicationName}}</span></h1>
<form>
    <div class="inner-wrap">
	<table class="table">
		<thead>
			<tr>
			<th>Approval Date</th>
			<th>Approver Role</th>
			<th>Approver Name</th>
			</tr>
		</thead>
		<tbody>
		{{range .Approvals}}
			<tr>
			<td>{{.ApprovalDate}}</script></td>
			<td>{{.Role}}</td>
			<td>{{.Name}}</td>
			</tr>
		{{end}}
		</tbody>
	</table>
    </div>
</form>
</div>

</body>
</html>

