<!DOCTYPE HTML>
<html>
{{template "head" .}}
<body>
<div class="form-style-10">
	<h1>ThumbsUp
                <span>Register Approval</span>
                <a href="/list" id="listIcon"><span class="glyphicon glyphicon-th-list"></span></a>
        </h1>

    <div class="inner-wrap">
	    <label id="message">Successfully approved application.</label>
    </div>
</div>

</body>
</html>

