<!DOCTYPE HTML>
<html>
{{template "head" .}}
<body>

<div class="form-style-10">
	<h1>ThumbsUp<span>Enter new application</span></h1>
<form class="form" action="/create" method="post">
    <div class="section"><span>1</span> Application &amp; Approvers</div>
    <div class="inner-wrap">
	<label for="applicationName" >Application Name</label>
	<input class="form-control" type="text" name="applicationName"/>
	<p></p>
	<label>Required Approver Type(s)</label>
	<div class="form-group">
		<p><input type="checkbox" name="approverType" value="0"/> Clinical</p>
		<p><input type="checkbox" name="approverType" value="1"/> Doctor</p>
		<p><input type="checkbox" name="approverType" value="2"/> Developer</p>
		<p><input type="checkbox" name="approverType" value="3"/> Application</p>
		<p><input type="checkbox" name="approverType" value="4"/> IT</p>
	</div>
    </div>

    <div class="section"><span>2</span>Environment Details</div>
    <div class="inner-wrap">
        <label>Environment Type</label>
	<p><input type="radio" name="environmentSize" value="1"/> Small (1 CPUs, 4GB RAM, 1 TBs, 1 NICs)</p>
	<p><input type="radio" name="environmentSize" value="2"/> Medium (2 CPUs, 8GB RAM, 2 TBs, 2 NICs)</p>
	<p><input type="radio" name="environmentSize" value="3"/> Large (4 CPUs, 16GB RAM, 4 TBs, 4 NICs)</p>
    </div>

    <div class="button-section">
     <input type="submit" name="Submit" />
    </div>
</form>
</div>

</body>
</html>

