<!DOCTYPE HTML>
<html>
{{template "head" .}}
<body>

<div class="form-style-10 projectList">
	<h1>ThumbsUp<span>Project Approval Status</span></h1>
<form>
    <div class="inner-wrap projectList">
	<table class="table">
		<thead>
			<tr>
			<th>Project Name</th>
			<th>Project Status</th>
			<th>Required Approvers</th>
			<th>Approvals</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			<td>Project 1</td>
			<td>Submitted</td>
			<td>Clinical, IT</td>
			<td>IT</td>
			</tr>
			<tr>
			<td>Project 2</td>
			<td>Approved</td>
			<td>Developer, Clinical, IT</td>
			<td>Developer, Clinical, IT</td>
			</tr>
			<tr>
			<td>Project 3</td>
			<td>Approved</td>
			<td>Developer, Doctor, Clinical, IT</td>
			<td>Developer, Doctor, Clinical, IT</td>
			</tr>
		</tbody>
	</table>
    </div>
</form>
</div>

</body>
</html>

